.dashTileContainer{
    height: 300px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.dashCardTitle{
    font-size: 40px;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    box-shadow: 0px 3px 10px rgba(253, 253, 253, 0.9);
    border-radius: 10px;
}
/*? Medium Screen CSS */
@media (max-width: 1000px){
    .newDashboardCard{
        height: 75%;
      }
      .dashCardTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        text-align: center;
      }
}

  /*? Small Screen CSS */
  @media screen and (max-width: 480px) {
    .newDashboardCard{
        height: 200px;
        width: 50%;
      }
  }