/*? #region dashboard */
#dashboard {
  /* height: 100%; */
  width: 100%;
}

#dashContainer {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

#banner {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bannerHeading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.bannerContent {
  font-size: 24px;
}

#dashSection2 {
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* padding: 20px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.react-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.react-tabs__tab-list {
  display: flex;
  list-style: none;
  padding: 0;
  width: 80%;
  border-bottom: 2px solid black;
  align-self: center;
  outline: none;
  justify-self: center;
}

.editTeamsTab,
.editLightsTab {
  padding: 5px;
}

.editTeamsTab:hover,
.editLightsTab:hover {
  cursor: pointer;
  background-color: #efefef;
}

/* .editTeamsTab:focus,
.editLightsTab:focus {
  outline: 2px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
} */

/* #endregion Dashboard */

/*? #region Teams */
#editTeams {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#editTeams > div {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
}
#addTeamContainer {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 2px solid black;
}
#leagueSelectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
#leagueSelect {
  height: 40px;
  margin-top: 10px;
  background-color: rgb(231, 231, 231);
  border: 2px solid black;
}
.teamResultsContainer {
  /* border: 2px solid blue; */
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-color: rgb(89, 89, 89) rgb(202, 202, 202);
  scrollbar-width: thin;
  border-top: 2px solid black;
}

.teamResultsCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black; */
  /* margin: 5px 10px 5px 10px; */
  border-bottom: 1px solid gray;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
}

#userTeamCardContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-color: rgb(89, 89, 89) rgb(202, 202, 202);
  scrollbar-width: thin;
}

.userTeamCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid gray;
}

.userTeamCardTitle {
  color: black;
}
/* #endregion teams */

/*? #region Lights */
#editLights {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#editLightsContent {
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
}

#delayContainer {
  height: 100%;
  width: 35%;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#addLightsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
#addLightsContainer > div {
  /* border: 2px solid yellow; */
}
#lightApiKeyInputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#lightApiKeyInput {
  width: 80%;
}
#lightApiKeyInputContainer > button {
  /* width: 40%; */
}

#setupLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setDelayContainer,
.userDelayContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delaySliderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightDelaySlider {
  width: 75%;
}
#listLightsContainer {
  max-height: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  padding: 5px;
}
.listLightsBorder {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.listLightsCard {
  border: 2px solid black;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background-color: #efefef;
}
#lightCardContainer {
  height: 100%;
  width: 65%;
  overflow: auto;
}

.userLightCard {
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

/* #endregion Lights */

/*? #region Edit Team Popup */
#editTeamPopup {
  position: fixed;
  height: 100vh;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
#editTeamPopupContent {
  background-color: #fff;
  padding: 20px;
}
/* #endregion Edit Team Popup */

@media screen and (max-width: 767px) {
  /*? #region Dashboard */
  #banner {
    height: 75%;
  }
  #bannerHeading {
    font-size: 2rem;
  }
  .bannerContent {
    margin-bottom: 30px;
    font-size: 1.1rem;
    text-align: center;
  }
  /* #endregion Dashboard */
  /*? #region Teams */
  #editTeams > div {
    display: flex;
    flex-direction: column-reverse;
    /* border: 2px solid pink; */
    max-height: 350px;
  }
  #userTeamCardContainer,
  #addTeamContainer {
    width: 100%;
    /* max-height: 600px; */
  }
  #userTeamCardContainer {
    border-bottom: 2px solid black;
  }
  .userTeamCard {
    height: 20%;
  }
  #addTeamContainer {
    border-right: none;
    max-height: 50%;
    display: flex;
    flex-direction: row;
  }
  #leagueSelectContainer {
    height: 100%;
    width: 30%;
  }
  #leagueSelect {
    height: 20%;
    font-size: 0.8rem;
  }
  #leagueSelectContainer > p {
    font-size: 0.8rem;
  }
  .teamResultsContainer {
    border-top: none;
    border-left: 2px solid black;
  }
  /* #endregion Teams */
  /*? #region Lights */
  #editLightsContent {
    display: flex;
    flex-direction: column-reverse;
  }
  #lightCardContainer {
    width: 100%;
    height: 50%;
    border-bottom: 2px solid black;
  }
  .userLightCard {
    height: 25%;
  }
  #delayContainer {
    width: 100%;
    height: 50%;
    flex-direction: row;
    border-right: none;
  }
  .setDelayContainer {
    border-left: 2px solid black;
    padding: 10px;
  }
  .setDelayContainer > p,
  #delaySliderPara,
  #setupLinksContainer {
    font-size: 0.9rem;
    text-align: center;
  }

  /* #delaySliderPara{
    font
  } */

  /* #endregion Lights */
}

@media screen and (max-width: 480px) {
  #banner {
    height: 60%;
    padding-top: 30px;
  }
  #bannerHeading {
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
  }
  .bannerContent {
    font-size: 1rem;
    text-align: center;
  }
  #newDashCardContainer {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 40px;
  }

  #lightApiKeyInput {
    font-size: 0.7rem;
  }
  #setupLinksContainer {
    font-size: 0.8rem;
  }
  .setDelayContainer > p,
  #delaySliderPara {
    font-size: 0.8rem;
    text-align: center;
  }
}
