/* Default styles */
#contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  /* vertically centers content */
    padding: 20px 0;
}
#contactTitle{
    margin-top: 20px; /* Reduced margin-top for better appearance */
    font-size: 2em; /* Use em for scalable sizes */
}

#contactContent {
    width: 80%;
    max-width: 700px;  /* Using max-width for better responsiveness */
    border-radius: 10px;
    padding: 30px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contactPara {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;  /* For a more symmetric look */
}

/* Tablet devices (portrait) */
@media only screen and (max-width: 768px) {
    #contactContent {
        width: 90%;
        padding: 20px;
    }

    .contactPara {
        font-size: 1.1em;
    }
}

/* Mobile devices */
@media only screen and (max-width: 480px) {
    #contactContent {
        width: 95%;
        padding: 15px;
    }

    .contactPara {
        font-size: 1em;
    }
}
