
#pricingDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  
.pricingCard {
  /* padding: 50px; */
  width: 20px;
  transition: transform 0.3s;
  color: white;
  margin: 30px;
  margin-bottom: 50px;
  flex-grow: 1;
  display: block;
  /* padding: 30px 20px; */
  text-decoration: none;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-color: black;
}
 .pricingCard:hover{
  /* cursor: pointer; */
 }
   .pricingCardBg {
    height: 128px;
    width: 128px;
    background-color: #af6f00;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
  }
 .pricingCardLinkContainer{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .pricingCardLink{
  height: 50px;
  width: 120px;
  /* background-color: rgb(0, 17, 209); */
  background-color: #0080ff;
  text-decoration: none;
  color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all .2s ease;
 }
 .pricingCardLink:hover{
  cursor: pointer;
  background-color: rgb(50, 68, 255);
 }
 .pricingCardLink:active{
  background-color: rgb(0, 11, 136);
 }

  .pricingCard:hover .pricingCardContent .pricingCardLink {
    /* background-color: black; */
    /* border: 2px solid white; */
    color: #efefef;
  }
  .pricingCard:hover .pricingCardBg   {
    transform: scale(250%);
  }
  .pricingCardTitle {
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    z-index: 2;
    position: absolute;
    transition: font-size .5s ease;
    margin-left: 30px;
  }
  .pricingCard:hover .pricingCardTitle{
    font-size: 36px;
  }
  .pricingCardPrice{
    font-size: 18px;
    color: white;
    text-decoration: none;
    z-index: 3;
  }
  
  .pricingCardContent {
    font-size: 18px;
    z-index: 2;
    position: relative;
    font-weight: bold;
    color: #f9b234;
    transition: color .5s ease;
    margin-left: 30px;
    margin-top: 90px;
  }
  .price{
  }

  .pricingCardFeature{
    transition: color .5s ease;
  }
  .pricingCard:hover .pricingCardFeature{
    color: #efefef;
}

.pricingCard:hover {
  transform: translateY(-10px);
}

.price {
  font-size: 24px;
  color: #ffffff;
  margin-top: 10px;
}

.pricingCard ul {
  list-style: none;
  padding-left: 0;
}

.pricingCard li {
  margin: 15px 0;
}

/* .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
} */

.testimonial {
  background-color: black;
  padding: 30px 50px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

blockquote {
  font-size: 20px;
  font-style: italic;
}

cite {
  display: block;
  margin-top: 20px;
}
