
#editTeams, #editLights {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center ; */
  height: 100%;
  /* width: 80%; */
  /* position: relative; */
  /* bottom: 50px; */
  /* overflow-y: scroll; */
  padding: 80px 20px 0 20px;
}

.searchColTS, .editColTS {
  /* flex: 1 0 auto;  */
  /* This ensures the element will flex but not shrink */
  width: 40%;
  height: 100%;
}

.searchColTS {
  /* overflow: auto;  */
  /* Add scrollability in case content overflows */
}

.editColTS {
  /* overflow: auto;  */
  /* Add scrollability in case content overflows */
}

#searchColContainer, .editColContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 95%; */
  width: 100%;
  max-height: 700px;
  /* min-height: 200px; */
  /* padding-top: 20px; */
  border: 1px solid white;
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
  overflow-y: scroll;
  box-shadow: 0px 3px 10px rgba(253, 253, 253, 0.9);
  border-radius: 10px;
}

.searchColContainerPara{
  /* padding: 0 15px 0 5px; */
  /* padding: 10px; */
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.editColTSTitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}
#editColTSPara{
  margin-top: 50px;
}




/* Edit Lights specific CSS */
#lightInfoForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#searchColLightsHelpContainer{
  display: flex;
  width: 78%;
  /* border: 2px solid white; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#searchColLightsHelpBtn{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 38, 255);
  height: 28px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  font-size: 16px;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#lifxLink{
  color: rgb(0, 195, 255);
}
#searchColLightsHelpBtn:hover{
  cursor: pointer;
}
#searchColLightInputContainer{
  display: flex;
}
#lightInfoFormInput {
  width: 300px;
  height: 35px;
  margin-bottom: 25px;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}
#lightInfoFormBtn{
  background-color: black;
  color: #efefef;
  height: 35px;

  border-radius: 10px;
  border: none;
  margin-left: 10px;
  font-size: 18px;
}
#lightInfoFormBtn:hover{
  cursor: pointer;
}



/* Responsiveness for tablet and mobile */
@media (max-width: 1000px) {
  #editTeams, #editLights {
      flex-direction: column;
      align-items: center;
  }

  .searchColTS, .editColTS {
      width: 90%;
      position: relative;
      bottom: 5%;
  }
  .searchColTS{
    /* height: 1%; */

    /* max-height: 200px; */
    height: 50%;
    margin-bottom: 20px;
  }
  .editColTS{
    height: 55%;
  }
  #searchColContainer{
    height: 100%;
  }
  #searchColContainer h1{
    font-size: 28px;
  }
  .searchColContainerPara{
    position: relative;
    bottom: 50px;
    margin-bottom: -40px;
    padding: 10px;
    text-align: center;
  }
  .editColContainer{
    height: 100%;
  }
  .editColTSTitle{
    margin-top: 20px;
    font-size: 28px;
  }
  #searchColLightsHelpBtn{
    font-size: 12px;
  }
  #lifxLink{
    font-size: 12px;
    text-align: center;
  }
  #lightInfoFormInput{
    width: 70%;
    font-size: 16px;
  }

}


/* @media (max-width: 480px) {
  .editColTSTitle, #searchColContainer > p, #lightInfoForm > h1 {
      font-size: 20px;
  }
} */
