/* Global settings for full height layout */
html, body, #root, #editTeams, #editLights {
  height: 100%;
  min-height: 100%;
}

#editTeams, #editLights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchColTS, .editColTS {
  flex: 1 0 auto; /* This ensures the element will flex but not shrink */
}

.searchColTS {
  overflow: auto; /* Add scrollability in case content overflows */
}

.editColTS {
  overflow: auto; /* Add scrollability in case content overflows */
}

#searchColContainer, .editColContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-height: 700px;
  padding-top: 20px;
  border: 5px solid black;
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
  overflow-y: scroll;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.editColTSTitle {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

/* Responsiveness for tablet and mobile */
@media (max-width: 768px) {
  #editTeams, #editLights {
      flex-direction: column;
  }

  .searchColTS, .editColTS {
      width: 100%;
      flex: none; /* Reset the flex property */
  }
}

@media (max-width: 480px) {
  .editColTSTitle, #searchColContainer > p, #lightInfoForm > h1 {
      font-size: 20px;
  }
}

/* Edit Lights specific CSS */
#lightInfoForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightInfoFormInput {
  width: 300px;
  height: 50px;
  margin-bottom: 25px;
}
